ul {
    list-style: none;
}

li {
    padding:5px;
}

.main_body {
    background-color:darkolivegreen;
}

.header {
    font-family:'Lobster',cursive;
}

.button {
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    background-color: #99afa7;
}